fieldset {
    border-radius: 4px;
    border: 1px solid #3cb0c2;
    padding: 25px;
    margin-top: 50px;
}

legend {
    text-align: center;
    font-size: 2em;
    color : #3cb0c2;
}

span {
    color: red;
    font-weight: bold;
}